#main p {
    width: 97%;
    .redbox {
      background-color: #ff0000;
    }
 }

 #main {
    color: black;
    &-sidebar{ color: #ff0000; }
    a {
      Float: left;
      &:hover { color: #ffffff }
    }
}
p {
    Font: {
       Size: 30em;
       Weight: bold;
    } 
}

@mixin wrapper {
    max-width: 960px;
    margin: auto;
 }
 #wrapper1 { @include wrapper;}
 #wrapper2 { @include wrapper;}

 $width: 5em;
 #main {
   width: $width;
 }
 
 p {
    font: 10px/8px;           
    $width: 1000px;
    width: $width/2;            
    width: round(1.5)/2;        
    height: (500px/2);          
    margin-left: 5px + 8px/2px; 
    font: (italic bold 10px/8px);
  }
